.navbar {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1.6rem;
}

.nav-icon {
  font-size: 1.6rem;
  padding: 0;
}

.navbar-profile-img {
  width: 30px;
  height: 30px;
  border: 1px solid lightgray;
  border-radius: 50%;
}

.navbar-profile-popover {
  width: 200px;
}

.navbar-profile-popover a {
  display: flex;
  align-items: center;
  color: black;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.navbar-profile-popover a:link {
  text-decoration: none;
}

.navbar-profile-popover-icon {
  margin-right: 0.5rem;
}

.main-container {
  display: flex;
  width: 65%;
  margin: 0 auto;
}

.main-container-content {
  flex: 0.7;
}

.stories-container {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  border: 1px solid gray;
  margin-bottom: 1.6rem;
}

.post {
  border: 1px solid gray;
}

.card-header {
  padding: 0.5rem;
}

.card-header-img {
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 0.5rem;
  border: 2px solid rgb(214, 5, 5);
  border-radius: 50%;
}

.posts-navbar {
  margin: 0;
  padding: 0;
  margin-top: -15px;
  display: flex;
  justify-content: flex-start;
}

.comments-container p {
  margin: 0;
}

.navbar-header-dots {
  margin-top: 15px;
  margin-right: 10px;
}

.figure-img {
  background-color: #888;
  margin-top: 1rem;
  border: 2px solid rgb(214, 5, 5);
  border-radius: 50%;
}

.uploadForm-container {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
}

.progress-bar {
  height: 5px;
  background-color: orange;
  margin-top: 20px;
}

.details-container {
  width: 70%;
  margin: 0 auto;
  display: flex;
  border: 1px solid gray;
}

.post-image {
  width: 300px;
  height: 600px;
  flex: 3;
}

.comments-section {
  width: 30%;
  flex: 2;
}

.post-details-header {
  padding: 0.8rem 0.5rem;
}

.post-details-footer {
  padding-bottom: 0;
}

.modal-title {
  margin-left: 45%;
}

.modal-body,
.messages-body {
  padding-top: 0;
}

.messages-container {
  width: 70%;
  margin: 0 auto;
  display: flex;
  border: 1px solid gray;
}

.messages-section {
  width: 35%;
}

.messages-header {
  text-align: center;
}

.messages-item {
  display: flex;
  padding-left: 0;
  padding-bottom: 0.4rem;
}

.messages-body-img {
  width: 3.5rem;
  margin-right: 0.7rem;
  border: 1px solid black;
  border-radius: 50%;
}

.messages-p {
  font-size: 0.8rem;
}

.messages-initial {
  width: 65%;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid gray;
}

.messages-initial-icon {
  width: 6rem;
  height: 6rem;
  padding: 1rem;
  margin-bottom: 1.5rem;
  border: 2px solid black;
  border-radius: 50%;
}

.user-messages-container {
  width: 65%;
}

.user-messages-img {
  width: 2rem;
  margin-right: 0.7rem;
  border: 1px solid black;
  border-radius: 50%;
}

.notifications-popover-item {
  padding-left: 0;
  padding-bottom: 0;
  display: flex;
}

.notifications-popover-img {
  width: 3rem;
  height: 3rem;
  margin-right: 0.7rem;
  border: 1px solid gray;
  border-radius: 50%;
  /* float: left; */
}

.notification-popover-post-img {
  width: 2.5rem;
  height: 2.5rem;
}

.aside {
  flex: 0.3;
  margin-left: 1rem;
}

.aside-profile {
  display: flex;
  padding: 1rem;
}

.aside-profile-img {
  width: 4rem;
  height: 4rem;
  border: 1px solid gray;
  border-radius: 50%;
  margin-right: 1rem;
}

.aside-profile-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 0.9rem;
}

.aside-suggestions-header {
  display: flex;
  justify-content: space-between;
  padding: 0 0.5rem;
  margin-bottom: 0.5rem;
}

.aside-suggestions-body {
  margin-bottom: 1rem;
}

.aside-suggestions-item {
  display: flex;
  align-items: center;
  padding-left: 1rem;
  margin-bottom: 0.5rem;
}

.aside-suggestions-img {
  width: 2.5rem;
  border: 1px solid gray;
  border-radius: 50%;
  margin-right: 0.7rem;
}

.aside-suggestions-content {
  font-size: 0.85rem;
}

.aside-follow-user {
  font-size: 0.8rem;
}

.user-profile-container {
  width: 65%;
  margin: 0 auto;
}

.user-profile-header {
  display: flex;
  margin-bottom: 3rem;
}

.user-profile-img-container {
  height: 150px;
  flex: 0.3;
  display: flex;
  justify-content: center;
}

.user-profile-img {
  height: 100%;
  width: 70%;
  border: 1px solid gray;
  border-radius: 50%;
  cursor: pointer;
}

.user-profile-information {
  flex: 0.7;
  margin-left: 1.5rem;
}

.user-profile-information-content {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.user-profile-information-content > p {
  margin-right: 2.5rem;
  margin-bottom: 0;
}

.user-profile-edit-button,
.user-profile-message-button,
.user-profile-follow-button-options,
.user-profile-modal-button,
.user-profile-follow-button {
  height: 2rem;
  margin: 0 1rem;
  font-weight: 600;
  border: 1px solid lightgray;
  border-radius: 0.3rem;
}

.user-profile-message-button {
  margin-right: 0.5rem;
}

.user-profile-modal-button {
  margin-left: 0.5rem;
}

.user-profile-follow-button-options {
  width: 4rem;
  margin: 0;
}

.user-profile-follow-button {
  width: 6rem;
  margin-left: 1rem;
  margin-right: 0;
}

.user-profile-settings {
  font-size: 1.7rem;
  cursor: pointer;
}

.user-profile-navbar {
  display: flex;
  justify-content: center;
  border-top: 1px solid lightgray;
}

.user-profile-navbar > a {
  display: flex;
  align-items: center;
  margin-left: 3rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-transform: uppercase;
  color: gray;
  font-weight: 600;
  font-size: 0.8rem;
}

.profile-navbar-active {
  border-top: 1px solid black;
}

.user-profile-navbar > a:link {
  text-decoration: none;
}

.user-profile-navbar-icon {
  margin-right: 0.5rem;
}

.user-profile-activities {
  display: flex;
}

.user-profile-activities > img {
  width: 40%;
}

.user-profile-activities-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-profile-activities-tagged-container {
  width: 100%;
  height: 40vh;
}

.user-profile-activities-tagged-content {
  width: 20%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.user-profile-activities-tagged-icon {
  width: 4rem;
  height: 4rem;
  padding: 0.5rem;
  border: 2px solid black;
  border-radius: 50%;
}

.user-profile-activities-tagged-text {
  margin: 1rem 0;
  font-size: 1.6rem;
}

.user-profile-buttons {
  display: flex;
  justify-content: center;
  width: 60%;
  margin-top: 0.5rem;
}

.user-profile-buttons img {
  width: 9rem;
  margin-left: 0.5rem;
}

.user-profile-footer {
  margin-top: 1rem;
  padding: 1rem;
  text-align: center;
}

.profile-channel-icon-container {
  width: 4rem;
  height: 4rem;
  padding: 1rem;
  margin-bottom: 2rem;
  border: 2px solid #555;
  border-radius: 50%;
}

.profile-channel-icon {
  width: 100%;
  height: 100%;
}

.profile-channel-button {
  padding: 0.2rem 1.7rem;
}

.profile-header-modal-title {
  margin-left: 30%;
}

.register-container,
.login-container {
  width: 70%;
  margin: 0 auto;
}

.register-section,
.login-section {
  width: 350px;
  margin: 0.7rem auto;
  padding: 1rem 2.5rem;
  text-align: center;
  border: 1px solid lightgray;
}

.register-input,
.login-input {
  font-size: 0.9rem;
}

.registered-section,
.loggedIn-section {
  width: 350px;
  margin: 0 auto;
  text-align: center;
  border: 1px solid lightgray;
}

.profile-header-followers-title,
.profile-header-following-title {
  font-size: 1rem;
}

.profile-header-followers-container,
.profile-header-following-container {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  margin: 0;
  margin-top: 0.5rem;
}

.profile-header-followers-img,
.profile-header-following-img {
  width: 2.2rem;
  height: 2.2rem;
  margin-right: 0.7rem;
  border: 1px solid lightgray;
  border-radius: 50%;
  cursor: pointer;
}

.profile-header-followers-text > strong,
.profile-header-following-text > strong {
  cursor: pointer;
}

.profile-header-followers-text > p,
.profile-header-following-text > p {
  margin: 0;
}

.profile-header-followers-button,
.profile-header-following-button {
  margin-left: auto;
  font-weight: bold;
  background-color: #fff;
  padding: 0 0.5rem;
  border: 1px solid lightgray;
  border-radius: 0.2rem;
}

.profile-posts-img-container,
.profile-saved-img-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.profile-posts-img-div,
.profile-saved-img-div {
  height: 200px;
  width: 32%;
  position: relative;
}

.profile-posts-img-div:nth-child(2),
.profile-saved-img-div:nth-child(2) {
  margin: 0 0.9rem 0.9rem 0.9rem;
}

.profile-posts-img,
.profile-saved-img {
  width: 100%;
  height: 100%;
}

.profile-saved-hover {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  color: transparent;
  width: 100%;
  height: 100%;
}

.profile-saved-hover:hover {
  background-color: black;
  color: white;
  opacity: 0.5;
}

.profile-saved-hover > span {
  margin: 1rem;
}

.profile-header-modal-upload-item {
  padding: 0;
}

.profile-header-modal-upload-label {
  width: 100%;
  font-weight: bold;
  padding: 0.7rem;
  margin-bottom: 0 !important;
}

.profile-header-modal-upload-input {
  display: none;
}

.profile-header-user-status-header {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.profile-header-user-status-body,
.profile-header-restrict-user-body {
  text-align: center;
}

.profile-header-user-status-img {
  width: 8rem;
  height: 8rem;
  margin: 1rem auto 2rem auto;
  border: 1px solid lightgray;
  border-radius: 50%;
}

.profile-saved-modal .modal-dialog {
  max-width: none !important;
  width: 60% !important;
  margin-top: 4rem;
}

.profile-saved-modal-body {
  padding: 0;
}

.profile-saved-modal .details-container {
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .main-container {
    width: 100%;
  }
  .main-container-content {
    flex: 1;
  }
  .aside {
    display: none;
  }
  .user-profile-container {
    width: 100%;
  }
  .details-container {
    width: 100%;
  }
  .details-container img {
    display: none;
  }
  .comments-section .card-body {
    height: 50vh;
  }
  .profile-saved-modal .modal-dialog {
    width: 100% !important;
    margin: 5rem 0 0 0;
  }
}
