.navbar {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1.6rem;
}

.nav-icon {
  font-size: 1.6rem;
  padding: 0;
}

.main-container {
  display: flex;
  width: 65%;
  margin: 0 auto;
}

.main-container-content {
  flex: 0.7;
}

.stories-container {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  border: 1px solid gray;
  margin-bottom: 1.6rem;
}

.posts-container {
  /* width: 70%; */
  /* margin: 0 auto; */
}

.post {
  border: 1px solid gray;
}

.card-header {
  padding: 0.5rem;
}

.card-header-img {
  width: 2.5rem;
  height: 100%;
  margin-right: 0.5rem;
  border: 2px solid rgb(214, 5, 5);
  border-radius: 50%;
}

.posts-navbar {
  margin: 0;
  padding: 0;
  margin-top: -15px;
  display: flex;
  justify-content: flex-start;
}

.comments-container p {
  margin: 0;
}

.navbar-header-dots {
  margin-top: 15px;
  margin-right: 10px;
}

.figure-img {
  background-color: #888;
  margin-top: 1rem;
  border: 2px solid rgb(214, 5, 5);
  border-radius: 50%;
}

.uploadForm-container {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
}

.progress-bar {
  height: 5px;
  background-color: orange;
  margin-top: 20px;
}

.details-container {
  width: 70%;
  margin: 0 auto;
  display: flex;
  border: 1px solid gray;
}

.post-image {
  width: 300px;
  height: 600px;
  flex: 3;
}

.comments-section {
  width: 30%;
  flex: 2;
}

.post-details-header {
  padding: 0.8rem 0.5rem;
}

.post-details-footer {
  padding-bottom: 0;
}

.modal-title {
  margin-left: 45%;
}

.modal-body,
.messages-body {
  padding-top: 0;
}

.messages-container {
  width: 70%;
  margin: 0 auto;
  display: flex;
  border: 1px solid gray;
}

.messages-section {
  width: 35%;
}

.messages-header {
  text-align: center;
}

.messages-item {
  display: flex;
  padding-left: 0;
  padding-bottom: 0.4rem;
}

.messages-body-img {
  width: 3.5rem;
  margin-right: 0.7rem;
  border: 1px solid black;
  border-radius: 50%;
}

.messages-p {
  font-size: 0.8rem;
}

.messages-initial {
  width: 65%;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid gray;
}

.messages-initial-icon {
  width: 6rem;
  height: 6rem;
  padding: 1rem;
  margin-bottom: 1.5rem;
  border: 2px solid black;
  border-radius: 50%;
}

.user-messages-container {
  width: 65%;
}

.user-messages-img {
  width: 2rem;
  margin-right: 0.7rem;
  border: 1px solid black;
  border-radius: 50%;
}

.popover-item {
  padding-left: 0;
  padding-bottom: 0;
}

.popover-img {
  width: 3rem;
  margin-right: 0.7rem;
  border: 1px solid gray;
  border-radius: 50%;
  float: left;
}

.aside {
  flex: 0.3;
  margin-left: 1rem;
}

.aside-profile {
  display: flex;
  padding: 1rem;
}

.aside-profile-img {
  width: 4rem;
  border: 1px solid gray;
  border-radius: 50%;
  margin-right: 1rem;
}

.aside-profile-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 0.9rem;
}

.aside-suggestions-header {
  display: flex;
  justify-content: space-between;
  padding: 0 0.5rem;
  margin-bottom: 0.5rem;
}

.aside-suggestions-body {
  margin-bottom: 1rem;
}

.aside-suggestions-item {
  display: flex;
  align-items: center;
  padding-left: 1rem;
  margin-bottom: 0.5rem;
}

.aside-suggestions-img {
  width: 2.5rem;
  border: 1px solid gray;
  border-radius: 50%;
  margin-right: 0.7rem;
}

.aside-suggestions-content {
  font-size: 0.85rem;
}

.aside-follow-user {
  font-size: 0.8rem;
}

.user-profile-container {
  width: 65%;
  margin: 0 auto;
}

.user-profile-header {
  display: flex;
}

.user-profile-img-container {
  height: 150px;
  flex: 0.3;
  display: flex;
  justify-content: center;
}

.user-profile-img {
  height: 100%;
  border: 1px solid gray;
  border-radius: 50%;
}

.user-profile-information {
  flex: 0.7;
  margin-left: 1.5rem;
}

.user-profile-information-content {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.user-profile-information-content > p {
  margin-right: 2.5rem;
  margin-bottom: 0;
}

.user-profile-edit-button {
  height: 2rem;
  margin: 0 1rem;
  font-weight: 600;
  border: 1px solid gray;
  border-radius: 0.3rem;
}

.user-profile-settings {
  font-size: 1.7rem;
  cursor: pointer;
}

.user-profile-navbar {
  display: flex;
  justify-content: center;
}

.user-profile-navbar > a {
  display: flex;
  align-items: center;
  margin-left: 1rem;
  border-top: 1px solid black;
  text-transform: uppercase;
  color: black;
}

.user-profile-navbar-icon {
  margin-right: 0.5rem;
}
